html, body {
    height: 100%;
    margin: 0;
}
body {
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -30px;
}

.wrapper::after {
    content: "";
    display: block;
}

.container-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid white;
}

.blogBody {
    display: flex;
    justify-content: space-between;
}

main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

article {
    margin: 10px;
}

.articleB {
    background: rgba(0,0,0,0.6);
    color: white;
}

Aside {
    width: 27%;
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid white;
    background: rgba(0,0,0,0.6);
    color: white;
    margin: 5px;
}

header {
    margin:0;
    padding:0;
}


header ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
header a {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 5px;
    margin: 5px;    
}

header a:hover {
    color: #336600;
}

footer {
    background: black;
    color: white;
}


footer, .wrapper::after {
    height: 30px;
}
